#container{
	min-height:400px;
}
.header {
	text-align: center;
}
.footer {
	text-align: center;
}
.content {
	position: relative;
	padding: 10px 0;
}
.control-label {
	text-align: right;
    padding-top: 8px;
}
.row {
	padding-bottom: 10px;
}
.table > thead > tr > td {
	text-align: center;
}
.table > tbody > tr > td {
	text-align: center;
}